name: Build HMA++

on:
  workflow_dispatch:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Build with KernelSU Action
      uses: tiann/actions-kernelsu-module-builder@v1
      with:
        target: aarch64